<!-- partials/divider.ejs -->

<div class="container-fluid text-center myDivider">
  <div class="row">
     <div class="col-md d-flex justify-content-center">
       <i class="fa-solid fa-cloud"></i> &nbsp
       <i class="fa-solid fa-cloud"></i> &nbsp
       <i class="fa-solid fa-cloud"></i> &nbsp
       <i class="fa-solid fa-cloud"></i> &nbsp
       <i class="fa-solid fa-cloud"></i>
     </div>
  </div>
</div>
